<head>

	<% if dataset.count > 1 # only header info %>

	  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	  <script type="text/javascript">

	    var d = <%= raw dataset %>;
	    var t = '<%= title %>';

			google.load("visualization", "1", {packages:["corechart"]});
			google.setOnLoadCallback(drawChart);
			function drawChart() {

				var data = google.visualization.arrayToDataTable(d);

				var options = {
					title: t
				};

				var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
				chart.draw(data, options);
			}

	  </script>

	<% else %>
		<%= "No data exists matching selection.  Import some and have a nice day." %>
	<% end %>

</head>
<body>
  <div id="chart_div" style="width: 900px; height: 500px;"></div>
</body>