<% list_method = "#{calc.gsub('percentage', '').chomp('_')}" %>
<% if show_tested_list?(list_method) %>
  <% list_method = "un#{list_method}"%>
  <% list_latest = Analysis.where(application: app).last.send(list_method) %> 

  <table>
	<tr>
	  <th> <%= "Latest #{list_method.titleize} (#{list_latest.count})" %></th>
    </tr>
    <% list_latest.each do |c| %>
	  <tr>
		<td><%= c %></td>
      </tr>
	<% end %>
  </table>

<% end %>
